$container: 12!default;
$gutter: 2px!default;

%grid {
    float: left;
    position: relative;
    min-height: 1px;
    padding: 0 $gutter * 0.5;
}

@for $i from 1 through $container {
    .grid-#{$i} {
        @extend %grid;
        width: $i / $container * 100%;
    }
    .push-#{$i} {margin-left: $i / $container * 100%;}
    .pull-#{$i} {margin-right: $i / $container * 100%;}
}

.posAbs {position: absolute;}
.posFix {position: fixed;   }
