.grid-1, .grid-2, .grid-3, .grid-4, .grid-5, .grid-6, .grid-7, .grid-8, .grid-9, .grid-10, .grid-11, .grid-12 {
  float: left;
  position: relative;
  min-height: 1px;
  padding: 0 1px;
}

.grid-1 {
  width: 8.33333%;
}

.push-1 {
  margin-left: 8.33333%;
}

.pull-1 {
  margin-right: 8.33333%;
}

.grid-2 {
  width: 16.66667%;
}

.push-2 {
  margin-left: 16.66667%;
}

.pull-2 {
  margin-right: 16.66667%;
}

.grid-3 {
  width: 25%;
}

.push-3 {
  margin-left: 25%;
}

.pull-3 {
  margin-right: 25%;
}

.grid-4 {
  width: 33.33333%;
}

.push-4 {
  margin-left: 33.33333%;
}

.pull-4 {
  margin-right: 33.33333%;
}

.grid-5 {
  width: 41.66667%;
}

.push-5 {
  margin-left: 41.66667%;
}

.pull-5 {
  margin-right: 41.66667%;
}

.grid-6 {
  width: 50%;
}

.push-6 {
  margin-left: 50%;
}

.pull-6 {
  margin-right: 50%;
}

.grid-7 {
  width: 58.33333%;
}

.push-7 {
  margin-left: 58.33333%;
}

.pull-7 {
  margin-right: 58.33333%;
}

.grid-8 {
  width: 66.66667%;
}

.push-8 {
  margin-left: 66.66667%;
}

.pull-8 {
  margin-right: 66.66667%;
}

.grid-9 {
  width: 75%;
}

.push-9 {
  margin-left: 75%;
}

.pull-9 {
  margin-right: 75%;
}

.grid-10 {
  width: 83.33333%;
}

.push-10 {
  margin-left: 83.33333%;
}

.pull-10 {
  margin-right: 83.33333%;
}

.grid-11 {
  width: 91.66667%;
}

.push-11 {
  margin-left: 91.66667%;
}

.pull-11 {
  margin-right: 91.66667%;
}

.grid-12 {
  width: 100%;
}

.push-12 {
  margin-left: 100%;
}

.pull-12 {
  margin-right: 100%;
}

.posAbs {
  position: absolute;
}

.posFix {
  position: fixed;
}
