@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html, body {
  font-family: Montserrat, sans-serif;
  background: #e7e7e7;
  overflow-x: hidden;
  height: 100%;
}

.separator {
  width: 100%;
  height: 2px;
  background: #3f3f3f;
  margin: 10px 0;
}

.btn {
  display: inline-block;
  background: #bada55;
  color: #9fbb48;
  font-size: 24px;
}
.btn:hover {
  transition: all .3s;
  background: #9fbb48;
  color: #bada55;
}

#navBar {
  width: 100%;
  height: 75px;
  background: #3f3f3f;
  z-index: 10;
}
#navBar .grid-4:nth-of-type(1) a, #navBar .grid-4:nth-of-type(3) a {
  text-decoration: none;
  text-align: center;
  line-height: 55px;
}
#navBar .grid-4:nth-of-type(1) {
  padding: 10px;
  position: initial;
}
#navBar .grid-4:nth-of-type(1) a.btn {
  height: 55px;
  padding: 0 20px;
}
#navBar .grid-4:nth-of-type(1) a.btn:nth-of-type(1) {
  border-right: 2px solid #9fbb48;
}
#navBar .grid-4:nth-of-type(1) a.btn:nth-of-type(2) {
  margin-left: -4px;
}
#navBar .grid-4:nth-of-type(1) img.avatar {
  border-radius: 50%;
}
#navBar .grid-4:nth-of-type(1) div.username, #navBar .grid-4:nth-of-type(1) div.notification {
  color: #e7e7e7;
  font-size: 20px;
  vertical-align: top;
  height: 55px;
  line-height: 55px;
  display: inline-block;
}
#navBar .grid-4:nth-of-type(1) div.username {
  padding: 0 20px;
}
#navBar .grid-4:nth-of-type(1) div.username i {
  font-size: 16px;
  padding: 0 10px;
}
#navBar .grid-4:nth-of-type(1) div.username .usernameContent {
  z-index: 10;
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}
#navBar .grid-4:nth-of-type(1) div.username .usernameContent a {
  display: block;
  font-size: 15px;
  height: 30px;
  line-height: 30px;
}
#navBar .grid-4:nth-of-type(1) div.username:hover .usernameContent {
  transition: all .3s;
  display: block;
}
#navBar .grid-4:nth-of-type(1) div.notification a {
  color: #e7e7e7;
  font-size: 30px;
}
#navBar .grid-4:nth-of-type(1) div.notification .label {
  position: absolute;
  top: 40px;
  background: #bada55;
  color: #9fbb48;
  font-size: 12px;
  height: 15px;
  line-height: 15px;
  transform: rotate(-25deg);
  margin-left: 10px;
}
#navBar .grid-4:nth-of-type(2), #navBar .grid-12 {
  text-align: center;
}
#navBar .grid-4:nth-of-type(2) .site-title, #navBar .grid-12 .site-title {
  line-height: 75px;
  font-size: 30px;
  color: #e7e7e7;
  text-decoration: none;
}
#navBar .grid-4:nth-of-type(3) {
  padding: 10px;
  text-align: right;
}
#navBar .grid-4:nth-of-type(3) a.posts {
  width: 140px;
  height: 55px;
  border-right: 2px solid #9fbb48;
}
#navBar .grid-4:nth-of-type(3) a.search {
  width: 55px;
  height: 55px;
  margin-left: -4px;
}

#settings {
  position: fixed;
  right: -200px;
  bottom: 0;
}
#settings a, #settings .items {
  display: inline-block;
}
#settings a {
  text-decoration: none;
  font-size: 30px;
  padding: 10px;
  background: #4a4a4a;
  color: #e7e7e7;
  margin-right: -4px;
}
#settings .items {
  width: 200px;
  background: #4a4a4a;
  padding: 10px;
}
#settings .items div {
  line-height: 20px;
}
#settings .items div input {
  float: left;
}
#settings .items div label {
  padding: 0 10px;
}

#navBar .grid-4:nth-of-type(1) span.show, #sign .grid-4:nth-of-type(1) span.show {
  display: block;
}
#navBar .grid-4:nth-of-type(1) span.hide, #sign .grid-4:nth-of-type(1) span.hide {
  display: none;
}
#navBar span.show, #sign span.show {
  display: block;
}
#navBar span.hide, #sign span.hide {
  display: none;
}

#sign input[type="text"], #sign input[type="password"], #sign label {
  display: block;
}
#sign input[type="text"], #sign input[type="password"] {
  width: 100%;
  height: 45px;
  line-height: 45px;
  padding: 10px 20px;
  border: none;
  background: #4a4a4a;
  color: #e7e7e7;
  font-size: 16px;
  outline: none;
}
#sign label {
  margin: 20px 0 10px;
}
#sign h1 {
  text-align: center;
  font-size: 30px;
  margin: 30px 0;
}
#sign p, #sign button {
  margin: 10px 0;
  height: 50px;
}
#sign p {
  /* on checked */
}
#sign p [type="checkbox"]:not(:checked), #sign p [type="checkbox"]:checked {
  position: absolute;
  left: -9999px;
}
#sign p [type="checkbox"]:not(:checked) + label, #sign p [type="checkbox"]:checked + label {
  position: relative;
  padding-left: 75px;
  cursor: pointer;
}
#sign p [type="checkbox"]:not(:checked) + label:before, #sign p [type="checkbox"]:checked + label:before, #sign p [type="checkbox"]:not(:checked) + label:after, #sign p [type="checkbox"]:checked + label:after {
  content: '';
  position: absolute;
}
#sign p [type="checkbox"]:not(:checked) + label:before, #sign p [type="checkbox"]:checked + label:before {
  left: 0;
  top: -7px;
  width: 65px;
  height: 30px;
  background: #DDDDDD;
  transition: background-color .2s;
}
#sign p [type="checkbox"]:not(:checked) + label:after, #sign p [type="checkbox"]:checked + label:after {
  width: 20px;
  height: 30px;
  transition: all .2s;
  background: #e74c3c;
  top: -7px;
  left: 0px;
}
#sign p [type="checkbox"]:checked + label:before {
  background: #3f3f3f;
}
#sign p [type="checkbox"]:checked + label:after {
  background: #bada55;
  top: -7px;
  left: 45px;
}
#sign p [type="checkbox"]:checked + label .ui, #sign p [type="checkbox"]:not(:checked) + label .ui:before, #sign p [type="checkbox"]:checked + label .ui:after {
  position: absolute;
  left: 6px;
  width: 65px;
  border-radius: 15px;
  font-size: 14px;
  font-weight: bold;
  line-height: 16px;
  transition: all .2s;
}
#sign p [type="checkbox"]:not(:checked) + label .ui:before {
  content: "no";
  left: 32px;
}
#sign p [type="checkbox"]:checked + label .ui:after {
  content: "yes";
  color: #bada55;
}
#sign button {
  border: none;
  cursor: pointer;
  background: #bada55;
  color: #9fbb48;
  font-size: 24px;
}
#sign button:hover {
  transition: all .3s;
  background: #9fbb48;
  color: #bada55;
}
#sign .separator {
  margin-top: 20px;
}

#container {
  margin-top: 75px;
  height: calc(100% - 75px);
}
#container .categoryBar, #container .searchBar {
  top: 75px;
  height: calc(100% - 75px);
  padding: 10px;
  background: #4a4a4a;
}
#container .categoryBar {
  left: 0;
}
#container .categoryBar h1 {
  font-size: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #e7e7e7;
}
#container .categoryBar a {
  display: block;
  text-decoration: none;
  line-height: 25px;
  color: #3f3f3f;
}
#container .categoryBar a span {
  float: right;
}
#container .categoryBar a:hover {
  transition: color .3s;
  color: #e74c3c;
}
#container .searchBar {
  right: 0;
}
#container .searchBar input {
  width: 100%;
  height: 40px;
  padding: 10px;
  font-size: 16px;
  background: #3f3f3f;
  color: #e7e7e7;
  border: none;
  outline: none;
}
#container .content {
  height: 100%;
}
#container .content .items {
  margin: 25px;
}
#container .content .items .btn {
  height: 50px;
  line-height: 50px;
  text-align: center;
  cursor: pointer;
}
#container .content .items .btn i {
  padding: 0 25px;
}
#container .content .items .item {
  display: block;
  height: 62px;
  padding: 10px;
  background: rgba(250, 249, 249, 0.3);
  border-bottom: 2px solid #737373;
}
#container .content .items .item img.thumbnail {
  max-height: 40px;
  max-width: 85px;
}
#container .content .items .item .title {
  font-size: 18px;
  color: #3f3f3f;
  line-height: 40px;
  text-decoration: none;
}
#container .content .items .item .title:hover {
  border-bottom: 2px solid #3f3f3f;
}
#container .content .items .item span.commentNumber {
  float: right;
  width: 46px;
  height: 40px;
  padding-left: 5px;
  background: url(../img/comment.png) no-repeat;
  color: #bada55;
  text-align: center;
  line-height: 40px;
  font-size: 18px;
}
