#container {
    margin-top: 75px;
    height: calc(100% - 75px);

    .categoryBar, .searchBar {
        top: 75px;
        height: calc(100% - 75px);
        padding: 10px;
        background: $bColor5;
    }

    .categoryBar {
        left: 0;

        h1 {
            font-size: 20px;
            text-align: center;
            text-transform: uppercase;
            color: $fColor1;
        }

        a {
            display: block;
            text-decoration: none;
            line-height: 25px;
            color: $fColor4;

            span {
                float: right;
            }

            &:hover {
                transition: color .3s;
                color: $fColor5;
            }
        }
    }

    .searchBar {
        right: 0;

        input {
            width: 100%;
            height: 40px;
            padding: 10px;
            font-size: 16px;
            background: $bColor1;
            color: $fColor1;
            border: none;
            outline: none;
        }
    }


    .content {
        height: 100%;

        .items {
            margin: 25px;

            .btn {
                height: 50px;
                line-height: 50px;
                text-align: center;
                cursor: pointer;

                i {
                    padding: 0 25px;
                }
            }

            .item {
                display: block;
                height: 62px;
                padding: 10px;

                background: rgba($bColor7, .3);
                border-bottom: 2px solid $bColor8;

                img.thumbnail {
                    max-height: 40px;
                    max-width: 85px;
                }

                .title {
                    font-size: 18px;
                    color: $fColor4;
                    line-height: 40px;
                    text-decoration: none;

                    &:hover {
                        border-bottom: 2px solid $bColor1;
                    }
                }

                span.commentNumber {
                    float: right;
                    width: 46px;
                    height: 40px;
                    padding-left: 5px;

                    background: url(../img/comment.png) no-repeat;
                    color: $fColor3;

                    text-align: center;
                    line-height: 40px;
                    font-size: 18px;
                }
            }
        }
    }
}
