* {
    @include box-sizing(border-box);
}

html, body {
    font-family: Montserrat, sans-serif;
    background: $bColor2;
    overflow-x: hidden;
    height: 100%;
}

.separator {
    width: 100%;
    height: 2px;
    background: $bColor1;
    margin: 10px 0;
}

.btn {
    display: inline-block;

    background: $bColor3;
    color: $fColor2;

    font-size: 24px;

    &:hover {
        transition: all .3s;
        background: $bColor4;
        color: $fColor3;
    }
}
