form .control-group .controls .inline-link.loading,
form .form-group .controls .inline-link.loading,
form .at-input .controls .inline-link.loading,
.accounts-dialog .control-group .controls .inline-link.loading,
.accounts-dialog .form-group .controls .inline-link.loading,
.accounts-dialog .at-input .controls .inline-link.loading {
  background: url("/client/images/loading.svg") center center no-repeat;
  height: 86px;
  width: 86px;
  font: 0/0 a;
  text-shadow: none;
  color: transparent;
}
