#navBar {
    width: 100%;
    height: 75px;
    background: $bColor1;
    z-index: 10;

    .grid-4:nth-of-type(1), .grid-4:nth-of-type(3) {
        a {
            text-decoration: none;
            text-align: center;
            line-height: 55px;
        }
    }

    .grid-4:nth-of-type(1) {
        padding: 10px;
        position: initial;

        a.btn {
            height: 55px;
            padding: 0 20px;
        }

        a.btn:nth-of-type(1) {
            border-right: 2px solid $bColor4;
        }

        a.btn:nth-of-type(2) {
            margin-left: -4px;
        }

        img.avatar {
            border-radius: 50%;
        }

        div.username, div.notification {
            color: $fColor1;
            font-size: 20px;
            vertical-align: top;
            height: 55px;
            line-height: 55px;
            display: inline-block;
        }

        div.username {
            padding: 0 20px;

            i {
                font-size: 16px;
                padding: 0 10px;
            }

            .usernameContent {
                z-index: 10;
                display: none;
                position: absolute;
                background-color: #f9f9f9;
                min-width: 160px;
                box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
                a {
                    display: block;
                    font-size: 15px;
                    height: 30px;
                    line-height: 30px;
                }
            }

            &:hover .usernameContent {
                transition: all .3s;
                display: block;
            }
        }

        div.notification {
            a {
                color: $fColor1;
                font-size: 30px;
            }

            .label {
                position: absolute;
                top: 40px;
                background: $bColor3;
                color: $fColor2;
                font-size: 12px;
                height: 15px;
                line-height: 15px;
                transform: rotate(-25deg);
                margin-left: 10px;
            }

        }
    }

    .grid-4:nth-of-type(2), .grid-12 {
        text-align: center;

        .site-title {
            line-height: 75px;
            font-size: 30px;
            color: $fColor1;
            text-decoration: none;
        }
    }

    .grid-4:nth-of-type(3) {
        padding: 10px;
        text-align: right;

        a.posts {
            width: 140px;
            height: 55px;
            border-right: 2px solid $bColor4;
        }

        a.search {
            width: 55px;
            height: 55px;
            margin-left: -4px;
        }
    }
}
