#settings {
    position: fixed;
    right: -200px;
    bottom: 0;

    a, .items {
        display: inline-block;
    }

    a {
        text-decoration: none;
        font-size: 30px;
        padding: 10px;
        background: $bColor5;
        color: $fColor1;
        margin-right: -4px;
    }

    .items {
        width: 200px;
        background: $bColor5;
        padding: 10px;

        div {
            line-height: 20px;
            input {float: left;}
            label {
                padding: 0 10px;
            }
        }
    }
}

#navBar, #sign {
    .grid-4:nth-of-type(1) {

        span.show {
            display: block;
        }

        span.hide {
            display: none;
        }

    }
    span.show {
        display: block;
    }

    span.hide {
        display: none;
    }
}
