#sign {

    input[type="text"], input[type="password"], label {
        display: block;
    }

    input[type="text"], input[type="password"] {
        width: 100%;
        height: 45px;
        line-height: 45px;
        padding: 10px 20px;

        border: none;
        background: $bColor5;

        color: $fColor1;
        font-size: 16px;
        outline: none;
    }

    label {
        margin: 20px 0 10px;
    }

    h1 {
        text-align: center;
        font-size: 30px;
        margin: 30px 0;
    }

    p, button {
        margin: 10px 0;
        height: 50px;
    }

    p {
        [type="checkbox"]:not(:checked), [type="checkbox"]:checked {
            position: absolute;
            left: -9999px;
        }
        [type="checkbox"]:not(:checked) + label, [type="checkbox"]:checked + label {
            position: relative;
            padding-left: 75px;
            cursor: pointer;
        }
        [type="checkbox"]:not(:checked) + label:before, [type="checkbox"]:checked + label:before, [type="checkbox"]:not(:checked) + label:after, [type="checkbox"]:checked + label:after {
            content: '';
            position: absolute;
        }
        [type="checkbox"]:not(:checked) + label:before, [type="checkbox"]:checked + label:before {
            left:0; top: -7px;
            width: 65px; height: 30px;
            background: #DDDDDD;
            transition: background-color .2s;
        }
        [type="checkbox"]:not(:checked) + label:after, [type="checkbox"]:checked + label:after {
            width: 20px; height: 30px;
            transition: all .2s;
            background: $fColor5;
            top: -7px; left: 0px;
        }

        /* on checked */
        [type="checkbox"]:checked + label:before {
            background: $bColor1;
        }
        [type="checkbox"]:checked + label:after {
            background: $bColor3;
            top: -7px; left: 45px;
        }

        [type="checkbox"]:checked + label .ui, [type="checkbox"]:not(:checked) + label .ui:before, [type="checkbox"]:checked + label .ui:after {
            position: absolute;
            left: 6px;
            width: 65px;
            border-radius: 15px;
            font-size: 14px;
            font-weight: bold;
            line-height: 16px;
            transition: all .2s;
        }
        [type="checkbox"]:not(:checked) + label .ui:before {
            content: "no";
            left: 32px
        }
        [type="checkbox"]:checked + label .ui:after {
            content: "yes";
            color: $fColor3;
        }
    }

    button {
        border: none;
        cursor: pointer;
        background: $bColor3;
        color: $fColor2;

        font-size: 24px;

        &:hover {
            transition: all .3s;
            background: $bColor4;
            color: $fColor3;
        }
    }

    .separator {
        margin-top: 20px;
    }
}
